form(action=`/api/libros/${libro.id}?_method=PUT`, method="POST", style="display:inline")
  div
    label(for='titulo') Título:
    input(type='text', name='titulo', value=libro.titulo)

  div
    label(for='autor') Autor:
    input(type='text', name='autor', value=libro.autor)

  div
    label(for='descripcion') Descripción:
    textarea(name='descripcion')= libro.descripcion

  div
    button(type='submit') Actualizar
